.body {
    width: 100px;
    display: inline-grid !important;
    gap: 10px;
    overflow: hidden;
    
}
.containerbody{
    position: relative;
    height: 100vh;
}
.bi {
    height: 100%;
    font-size: 219%;
    align-items: center;
    display: flex;
    margin-left: 10px;
    width: auto;
    color: azure;

}

.logo {
    height: 50px;
    display: grid;
    align-items: center;
}

.image {
    transition: transform 0.3s ease;
    width: 60%;
    height: auto;
}
a{
    text-decoration: none;
}
.image:hover {
    transform: scale(1.1);
}