<div class="container-fluid p-0">
  <div class="text-center p-3 bg-light">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="">mohammeddsiddiq.com</a>
      <div class="socialmedialogos">
        <div class="image" id="twitter"><i class="bi bi-twitter-x"></i></div>
        <div class="image" id="facebook"><a href="https://www.facebook.com/mdabdulsiddiq.awais?mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook"></i></a></div>
        <div class="image" id="linkedin">
            <a href="https://www.linkedin.com/in/mohammedsiddiq920?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"> <i class="bi bi-linkedin"></i></a>
         </div>
         <div class="image" id="gituhub">
          <a href="https://github.com/mohammedsiddiq97" target="_blank"><i class="bi bi-github"></i></a>       </div>
     </div>
    </div>